---
import Layout from "@/layouts/Layout.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
const response = await getTopics({
  fields: ["id", "title", "description", "publishedDate", "featuredImage"],
});
import TopicCard from "@/components/TopicCard.astro";
import Toc from "@/components/Toc.astro";
import { getTopics, getTopicDetail } from "@/lib/microcms.ts";
export async function getStaticPaths() {
  const response = await getTopics({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      topicId: content.id,
    },
  }));
}
const { topicId } = Astro.params;
const topic = await getTopicDetail(topicId as string);

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
  <section class="sokenkai__topicMv">
    <div class="l-container">
      <BreadCrumb
        items={[
          { text: "TOP", link: "/" },
          { text: "活動報告", link: "/topics" },
          { text: topic.title, link: "" },
        ]}
      />
    </div>

      <div class="Article_detail_tittle_bg">
        <div class="l-container">
          <h1 class="Article_detail_tittle">{topic.title}</h1>
          <p class="Article_detail_date">{topic.publishedAt}</p>
        </div>
      </div>

      <div class="l-container">
      <img
        src={topic.featuredImage.url}
        width={topic.featuredImage.width}
        height={topic.featuredImage.height}
        alt="トピック記事のバナー画像"
      />
    </div>
  </section>

  <section id="topicContent" class="p-topicContent">
    <div class="l-container">
      <h4>目次</h4>
      <Toc />
      <div set:html={topic.content} />
    </div>

    <div class="sokenkai_short-despriction">
      <div class="l-container">
        <h4 class="description_tittle">早健会とは</h4>
        <p>学生早健会（1964年設立）は、会員（学生）から納入された会費によって、会員の健康の維持・増進を図るための活動や医療費給付・健康診断補助費給付などの事業を行う早稲田大学独自の互助会組織です。早稲田大学に入学した正規の学生は自動的に会員となり、年間3000円の会費を学費に含まれた形で納入していただいています。集まった会費をもとに、早大生の健康増進のために様々なサービスを提供しています。近年の活動においては、「100円朝食」、「歯科検診」、「健康フェスタ」の３つを活動の柱としています。
        </p>

        <div class="article_view_more_btn">
          <a href="/">VIEW MORE</a><br/>
          <a href="/">∨</a>
        </div>
      </div>
      
      </div>

 
    </div>



  </section>
  <div class="l-container">

    <div class="title" style="margin:53px 0px; ">
      <h2>Recommend</h2>
      <p>おすすめの投稿</p>
    </div>

    <section id="topicsList" class="p-topicsList">
    <div class="p-topicsList__wrapper">
      <!-- map関数で展開する -->
      {
        response.contents.map((content: any) => (
          <TopicCard content={content} />
        ))
      }
    </div>
    </section>
</Layout>
