---
import Layout from "@/layouts/Layout.astro";
import { getTopics } from "@/lib/microcms.ts";
const response = await getTopics({
  fields: ["id", "title", "description", "publishedDate", "featuredImage"],
});
import BreadCrumb from "@/components/BreadCrumb.astro";
import Mv from "@/components/Mv.astro";
import TopicCard from "@/components/TopicCard.astro";
import type { GetStaticPathsOptions } from 'astro';
export async function getStaticPaths({ paginate }) {
  // microCMSからデータを取得
  const response = await fetch("https://sokenkai-web.microcms.io/api/v1/topics", {
    headers: {
      "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY, // 環境変数を使用
    },
  });
  

  // JSON形式でデータを解析
  const result = await response.json();
  const articleList = result.contents; 

  // 取得したデータ（例: posts配列）を使ってページネーション
  return paginate(result.contents, { pageSize: 2 });
}


const { page } = Astro.props;

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
<section class="page-wrapper">
  <section class="sokenkai__mv">
    <div class="l-container">
      <BreadCrumb
        items={[
          { text: "TOP", link: "/" },
          { text: "記事", link: "/Article" },
        ]}
      />
    </div>
    <div class="Article-tittle-bg">
      <img src="/src/assets/images/triangle_decoration.png"
      alt="三角のデコレーション"/>
    <div class="l-container">
      <div class="Article-tittle">
        <Mv enTitle="Article" jaTitle="記事" />
      </div>
    </div>
    </div>

    </div>
  </section>

  <section id="topicsList" class="p-topicsList">
    <div class="l-container">
      <div class="p-topicsList__wrapper">
        <!-- map関数で展開する -->
        {
          response.contents.map((content: any) => (
            <TopicCard content={content} />
          ))
        }
      </div>
    
      <div class="pagination">
        <!-- {page.url.prev && <a href={page.url.prev}>前のページ</a>}
        {page.url.next && <a href={page.url.next}>次のページ</a>} -->
      </div>
    </div>

  </section>
  </section>
</Layout>
