---
import Layout from "@/layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import BreadCrumb from "@/components/Breadcrumb.astro";
import Toc from "@/components/Toc.astro";
import { getBlogs, getBlogDetail } from "@/lib/microcms";
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
import beerImage from "@/assets/images/beer.png";

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
  <div class="blog-detail-entire-wrapper">
    <div class="sokenkai__blogMv">
      <BreadCrumb
        items={[
          { text: "TOP", link: "/" },
          { text: "活動報告", link: "/blogs" },
          { text: blog.title, link: "" },
        ]}
      />
      <div class="blog-detail-title">
        <h1>{blog.title}</h1>
        <p>{blog.publishedAt}</p>
      </div>
    </div>

    <section id="blogContent" class="p-blogContent">
      <div class="l-container">
        <img
          src={blog.featuredImage.url}
          width={blog.featuredImage.width}
          height={blog.featuredImage.height}
          alt="ブログ記事のトップ画像"
          class="blog-featured-image"
        />
        <h2 class="blog-table-of-contents">目次</h2>
        <Toc />
        <div class="blog-detail-content" set:html={blog.content} />
        <h2 class="blog-detail-recommend">Recommend</h2>
        <p class="blog-detail-recommend-subtitle">おすすめの投稿</p>
        <div class="blog-detail-recommend-contents">
          <div class="blog-detail-recommend-content"></div>
        </div>
      </div>
      <div class="blog-recommendation">
        <div class="blog-recommendation-article">
          <h3>おすすめの記事!</h3>
          <Image src={beerImage} alt="おすすめ記事の画像" />
          <p>2024.08.31</p>
          <p>飲酒の健康への影響<br />適切なアルコールの摂取量とは？</p>
        </div>
      </div>
    </section>
  </div>
</Layout>
