---
import Layout from "@/layouts/Layout.astro";
import { Image } from 'astro:assets';
const title = "";
const description = "";
const og_image = "";

import dental_checkup from '@/assets/images/IMG_4519.JPG';
---

<Layout title={title} , description={description} og_image={og_image}>
	<!-- ヘッダーここから -->
	<header></header>
	<!-- ヘッダーここまで -->

	<main>
	<!-- ファーストビューここから -->
	<section id="fv" class="p-fv"></section>
	<!-- ファーストビューここまで -->

	<!-- ニュースここから -->
	<section id="news" class="p-news"></section>
	<!-- ニュースここまで -->

	<!-- アクティビティここから -->
	<section id="activity" class="p-activity"></section>
	<!-- アクティビティここまで -->

	<!-- エクスペリエンスここから -->
	<section id="experience" class="p-experience"></section>
	<!-- エクスペリエンスここまで -->

	<!-- レポートここから -->
	<section id="report" class="p-report">
          <div class="slider">
               <button id="prevBtn" class="arrow">◀</button>
               <ul class="slider-list">
                    <li class="slider-item">
                         <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                         <div>
                              <time datetime="">2024.08.18</time>
                              <h3>歯科検診レポート</h3>
                              <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                         </div>
                    </li>
                    <li class="slider-item">
                         <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                         <div>
                              <time datetime="">2024.08.18</time>
                              <h3>歯科検診レポート</h3>
                              <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                    </li>
                    <li class="slider-item">
                         <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                         <div>
                              <time datetime="">2024.08.18</time>
                              <h3>歯科検診レポート</h3>
                              <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                    </li>
                    <li class="slider-item">
                         <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                         <div>
                              <time datetime="">2024.08.18</time>
                              <h3>歯科検診レポート</h3>
                              <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                    </li>
                    <li class="slider-item">
                         <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                         <div>
                              <time datetime="">2024.08.18</time>
                              <h3>歯科検診レポート</h3>
                              <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
                    </li>
               </ul>
               <button id="nextBtn" class="arrow">▶</button>
          </div>
	</section>
	<!-- レポートここまで -->

	<!-- トピックここから -->
	<section id="topic" class="p-topic">
          <div>
               <ul>
                    <li>
                         <a>
                              <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                              <div>
                                   <h3>あああ</h3>
                                   <p>aaaaaaaaaaaa</p>
                              </div>
                         </a>
                         <div>
                         </div>
                    </li>
                    <li>
                         <a>
                              <Image src={dental_checkup} alt="歯科検診のイメージ画像" />
                              <div>
                                   <h3>あああ</h3>
                                   <p>aaaaaaaaaaaa</p>
                              </div>
                         </a>
                         <div>
                         </div>
                    </li>
               </ul>
          </div>
	</section>
	<!-- トピックここまで -->

	<!-- ここから -->
	<section id="faqs" class="p-faqs"></section>
	<!-- ここまで -->

	<!-- コンタクトここから -->
	<section id="contact" class="p-contact"></section>
	<!-- コンタクトここまで -->
	</main>

	<!-- フッターここから -->
	<footer></footer>
	<!-- フッターここまで -->
</Layout>
<script>
const items = Array.from(document.querySelectorAll(".slider-item"));
const prevBtn = document.getElementById("prevBtn");
const nextBtn = document.getElementById("nextBtn");
const totalItems = items.length;
let currentIndex = 0;

function updateSlider() {
items.forEach((item) => {
item.classList.remove("left", "active", "right");
item.style.display = 'none';
});

const leftIndex = (currentIndex - 1 + totalItems) % totalItems;
const rightIndex = (currentIndex + 1) % totalItems;

items[leftIndex].classList.add("left");
items[leftIndex].style.display = 'block';
items[currentIndex].classList.add("active");
items[currentIndex].style.display = 'block';
items[rightIndex].classList.add("right");
items[rightIndex].style.display = 'block';
}


currentIndex = 0;
updateSlider();


nextBtn.addEventListener("click", () => {
currentIndex = (currentIndex + 1) % totalItems;
updateSlider();
});


prevBtn.addEventListener("click", () => {
currentIndex = (currentIndex - 1 + totalItems) % totalItems;
updateSlider();
});
</script>