---
import Layout from "@/layouts/Layout.astro";
import BreadCrumb from "@/components/BreadCrumb.astro";
import Toc from "@/components/Toc.astro";
import { getNews, getNewsDetail } from "@/lib/microcms.ts";
export async function getStaticPaths() {
  const response = await getNews({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      newsId: content.id,
    },
  }));
}
const { newsId } = Astro.params;
const news = await getNewsDetail(newsId as string);

const title = "";
const description = "";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
<section class="page-wrapper">
  <section class="sokenkai__newsMv">
    <div class="l-container">
      <BreadCrumb 
        items={[
          { text: "TOP", link: "/" },
          { text: "ニュース", link: "/news" },
          { text: news.title, link: "" },
        ]}
      />
    </div>
      <!-- ここからニュースタイトルの帯の部分 -->
      <div class="news_detail_tittle_bg">
        <div class="l-container">
        <h1 class="news_detail_tittle">{news.title}</h1>
        <p class="news_detail_date">{news.publishedAt}</p>
        </div>
      </div>
      <!-- ここまでがニュースタイトルの帯の部分 -->

  </section>


  <section id="newsContent" class="p-newsContent">
    <div class="l-container">
      <Toc />
      <div set:html={news.content} />
    </div>
  </section>
</div>
</section>
</Layout>
