---
import dayjs from "dayjs";
const { content } = Astro.props;
const date = dayjs(content.publishedDate).format("YYYY.MM.DD");
console.log(content);
---

<div class="top-blog-card">
  <a href={"/blog/" + content.id} class="top-blog-card-link-wrapper">
    <img
      class="top-blog-card__image"
      src={content.featuredImage.url}
      width={content.featuredImage.width}
      height={content.featuredImage.height}
      alt={content.title}
    />
    <div class="top-blog-card__content">
      <div class="top-blog-card__content_innerwrapper">
        <p class="top-blog-card__date">{date}</p>
        <h3 class="top-blog-card__title">{content.title}</h3>
        <p class="top-blog-card__description">{content.description}</p>
        <a href={"/blog/" + content.id} class="top-blog-card__link">続きを読む</a>
      </div>
    </div>
  </a>
  <br class="top-blog-card-br" />
</div>
