---
import dayjs from "dayjs";
const { content } = Astro.props;
const date = dayjs(content.publishedDate).format("YYYY.MM.DD");
console.log(content);
---

<a href={"/topics/" + content.id} class="sokenkai__topiccard">
    <img class="topiccard_img"
      src={content.featuredImage.url}
      width={content.featuredImage.width}
      height={content.featuredImage.height}
      alt="トピック記事のバナー画像"
    />
    <div class="sokenkai__topiccard_text">
        <p class="topiccard_date">{date}</p>
        <h3 class="topiccard_title">{content.title}</h3>
    </div>
  </div>
  </div>
</a>
